body {
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;ß
}

#landing {
    z-index: 1;
}

.blur{ 
    filter: blur(5px);
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);   
}
 

.header {
    padding-top: 5vh;
    display: block;
    padding-bottom: 1%;
}

.logo {
    color: #000000;
    font-size: 4vw;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    float: left;
}


/*#toggle{
    
    display: inline;
    float: right;
    font-size: 3vw;
    z-index: 99;
}*/

#toggle {
    position: absolute;
    top: 6vh;
    left: 86vw;
    font-size: 3vw;
    z-index: 99;
}


#toggle:hover{
    text-shadow: -7px 7px 6px rgba(146, 150, 150, 1);
}

#close {
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 3.5vw;
    cursor: pointer;
}

#close:hover{
    color: rgba(0,0,0, 0.8);
    text-shadow: -7px 7px 6px rgba(146, 150, 150, 1);
}



#divider{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3
}

#menu{
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 4;
    width: 50%;
    color: white;
    font-size: 5vh;
    text-align: center;
    margin-top: 10vh;
}

.menu-section {
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid black;
    border-top: 1px solid black;
    height: 14vh;
/*    padding-top: 4vh;*/
    font-weight: 400;
    margin: 3vh;
    padding: 3.5vh;
}


.main .container div {
/*    border: 1px solid black;*/
    display: inline-block;   
}

.blurb {
    max-width: 50%;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-right: 2%; 
}

.blurb p {
    margin-bottom: 3%;
}

.photo {
    width: 50%;
    float: right;
    padding-left: 2%; 
}

.photo img {
    width: 100%;
    float: right;
}


@media (max-width: 768px) {
    .main{
        display: block;
        width: 100%;
    }
    .main .container div {
    /*    border: 1px solid black;*/
        display: block;   
    }
    .blurb {
        font-size: 3.5vw;
        max-width: 100%;
        padding: 0;
    }
    .photo {
        width: 100%;
        padding: 0;
    }
    .menu-section {
        font-size: 4vh;
        padding: 4vh;
    }

}