body {
    width: 100%;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

#landing {
    z-index: 1;
}

.blur{ 
    filter: blur(5px);
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);   
}
 

.header {
    padding-top: 5vh;
    display: block;
}

.logo {
    color: #000000;
    font-size: 4.5vw;
    font-family: 'Cambay', sans-serif;
    font-weight: 700;
    float: left;
    margin-bottom: 0px;
    z-index: 3;
}

.logo a {
    color: black;
}


.toggle-div{
    position: absolute;
    width: 100vw;
    top: 6vh; 
}

#toggle {
/*    position: absolute;
    top: 6vh;*/
    font-size: 3vw;
    z-index: 99;
    float: right;
}


#toggle:hover{
    text-shadow: -7px 7px 6px rgba(146, 150, 150, 1);
}

#close {
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 3.5vw;
    cursor: pointer;
}

#close:hover{
    color: rgba(0,0,0, 0.8);
    text-shadow: -7px 7px 6px rgba(146, 150, 150, 1);
}



#divider{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3
}

#menu{
    display: none;
    position: absolute;
    top: 0;
    left: 20%;
    z-index: 4;
    width: 60%;
    color: white;
    font-size: 5vh;
    text-align: center;
    margin-top: 10vh;
}

#menu a{
    color: white;
}

#menu a:hover{
    color: white;
}

.menu-section {
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid black;
    border-top: 1px solid black;
    height: 14vh;
/*    padding-top: 4vh;*/
    font-weight: 400;
    margin: 3vh;
    padding: 3.5vh;
    margin-right: auto 0px;
    margin-left: auto 0px;
}


.main .container div {
/*    border: 1px solid black;*/
    display: inline-block;   
}

.blurb {
    max-width: 65%;
    font-size: 1.2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding-right: 2%; 
}

.blurb p {
    margin-bottom: 3%;
}

#photo {
    width: 35%;
    float: right;
    padding-left: 2%; 
}

#photo img {
    width: 100%;
    float: right;
}

.wide-photo{
    max-width: 100%;
    margin-bottom: 3vh;
}

.links{
    margin-bottom: 5vh;
    text-align: left;
}

.links i {
    margin-right: 7vw;
    font-size: 2.5em;
}



/* PROJECT PAGE */

.project-section{
    /*border: 1px solid black;*/
    text-align: center;
    padding: 0.5vw;
}

.project-blurb {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    background-color: rgba(50,50,50, 0.3);
    padding: 25px;
    min-height: 200px;
}

.project-section .caption {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin: 2vh 0 2vh 0;
    font-size: 1.3vw;
}

.project-photo {
    height: 250px;
}

#project-1{
    background: url("assets/images/theygotfit.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#project-2{
    background: url("assets/images/hipstercoffeenow.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#project-3{
    background: url("assets/images/bossfight.jpeg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#project-4{
    background: url("assets/images/exercises.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#project-5{
    background: url("assets/images/heartheirside.jpg") no-repeat center center; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}


/* MEDIA QUERIES*/



@media handheld, screen and (max-width: 1200px) {
/* only desktop*/

   .project-blurb {
        min-height: 220px;
    }


}


@media handheld, screen and (max-width: 992px) {


    .project-blurb {
        font-size: 2.3vw;
    }

    .project-section .caption {
        font-size: 3vw;
    }
}


@media handheld, screen and (max-width: 768px) {
    .logo {
        font-size: 2.5em;
    }
    .main{
        display: block;
        width: 100%;
    }
    .main .container div {
    /*    border: 1px solid black;*/
        display: block;   
    }
    .blurb {
        font-size: 3.5vw;
        max-width: 100%;
        padding: 0;
    }
    #photo {
        width: 100%;
        padding: 0;
    }
    .menu-section {
        font-size: 4vh;
        padding: 4vh;
    }
    .links{
        margin-bottom: 2vh;
        text-align: center;
    }
    .links i {
        font-size: 3em;
        margin: 0px 5vw 0px 5vw;
    }
    #toggle{
        font-size: 2.2em;
        padding-right: 15px;
    }

    #menu{
        width: 80%;
        left: 10%;
        font-size: 3vh; 
    }
    .menu-section{
        padding: 4vh;
    }

}


@media handheld, screen and (max-width: 550px) {
    .links i {
        font-size: 2em;
    }

    .project-section .caption {
        font-size: 1.3em;
    }

    .project-blurb {
        font-size: 1em;
    }

    .project-photo {
        height: 150px;
        width: 100%;
    }
}



